#arrowDiv {
    width: 960px;
    height: 1024px;
    margin: 0 auto;
}

.right-arrow {
    background-image: url('Rightarrow.png');
    background-repeat: no-repeat;
}

.left-arrow {
    background-image: url('Leftarrow.png');
    background-repeat: no-repeat;
}
